<h1 class="pl-3">DEVICES TYPE</h1>

    
<div class="d-flex justify-content-between flex-wrap pr-3 pl-3">
    <button mat-raised-button style="background-color: #79A831; color: white;" routerLink="add">Add Device Type</button>
    <mat-spinner *ngIf="!devicesTypeData"></mat-spinner>
    <div class="position-relative">
        <input (keyup)="search($event)" type="text" #searchStr placeholder="Search by any parameter" class="p-1 pr-4 rounded" style="border: none; outline: none;">
        <mat-icon class="position-absolute text-secondary" style="width: auto; height: auto; top: 50%; right: 0; transform: translateY(-50%);">search</mat-icon>
    </div>

</div>

<device-type-card-list class="w-100" (paginationEvent)="getDevicesTypeData($event)"
[devicesTypeData]="currentlyShowingDevicesType"
[devicesTypeCount] = "devicesTypeCount"
[perPageData] = "config.perPageData"
>
</device-type-card-list>
