<!-- Buttons -->
<div class="d-flex justify-content-end">
         <!-- Other Buttons -->
        <div  *ngIf="showBtn" class="mr-4 mt-2" >
          <button mat-raised-button (click)="clearSelected()" class="mr-3" >Cancel</button>
          <button mat-raised-button style="background-color: coral; color:white;" (click)="showSelected()">Add to Group</button>
        </div>

        <!-- Search button -->
    <mat-form-field style="float: right;" class="search" appearance="outline">
      <mat-label>Search by any parameter</mat-label>
       <label>
       <input  (keyup)="search($event)" matInput>
      </label>
       <mat-icon class="mr-3" color="primary" matSuffix>search</mat-icon>
   </mat-form-field> 
</div>
  
<!-- Displaying CardData -->
<div class="row  w-100" >
<div class="col-3 p-2" *ngFor="let item of currentlyShowing;
  let i=index">
<mat-card (click)="cardCheck(item);"  [ngClass]="{'Active': selected.indexOf(currentlyShowing[i].id)!=-1}"  >
  <!-- [ngClass]="{'Active': selected.indexOf(currentlyShowing[i+btnClick*8].id)!=-1}" -->
  
  <mat-icon *ngIf="selected.indexOf(currentlyShowing[i].id)!=-1" style="float:right; color:green;">library_add_check</mat-icon>
    <mat-card-title class="title">{{item.Title}}</mat-card-title>
    <mat-card-content class="content">{{item.Content}}</mat-card-content>
    <mat-card-content class="content1">{{item.Footer}}</mat-card-content>

  </mat-card>
  </div>
</div>


<!-- <div class="row  w-100" *ngIf="toggle">
  <div class="col-3 p-2" *ngFor="let item of currentlyShowing;
    let i=index">
  <mat-card (click)="cardCheck(i); clickEvent(i)" [ngClass]="{'Active': dummy.indexOf(i)!=-1}" >
    <mat-icon *ngIf="dummy.indexOf(i)!=-1 " style="float:right; color:green;">library_add_check</mat-icon>
    <mat-icon *ngIf="selected.indexOf(tempData[i+btnClick*8].id)!=-1" style="float:right; color:green;">library_add_check</mat-icon> -->
      <!-- <mat-card-title class="title">{{item.Title}}</mat-card-title> 
      <mat-card-content class="content">{{item.Content}}</mat-card-content>
      <mat-card-content class="content1">{{item.Footer}}</mat-card-content>
  
    </mat-card>
    </div>
  </div> -->

 <!-- Forward and backward pagination buttons -->
 <div>Viewing {{currentlyShowing.length*(btnClick+1)}} of {{tempData.length}}</div>
<div class="d-flex mr-3 justify-content-center align-items-center ">
    <div  class="m-4 buttonDiv"  [ngClass]="{'disableArow': disableBbttn}" >
        <mat-icon class="mt-2 ml-2" (click)="showBack()">arrow_back_ios</mat-icon>
    </div>
    <div class="m-4 buttonDiv" [ngClass]="{'disableArow': disableFbttn}">
        <mat-icon  class="mt-2 ml-2" (click)="showNext()">arrow_forward_ios</mat-icon>
    </div>   
</div>
  
    