mat-card:hover{
    // background-color: rgb(245, 243, 243);
    background-color:  rgb(240, 228, 230)
  }
  mat-card{
    height: 105px;
    cursor: pointer;
    .title{
            color: purple;
            font-size: medium;      
    }
    .content {
        padding-left: 2px;
        font-size: small;
      }
      .content1 {
        padding-left: 2px;
        font-size: small;
        margin-bottom: 20px;
      }
      
  }
  .active,.yellow-btn:hover{
    background-color: rgba(243, 225, 126, 0.849);
    font-weight: 600;
}
  mat-icon{
    color:white; 
    font-weight: bolder;
      font-size: medium; 
      cursor: pointer;
  }
  .buttonDiv{
    background-color:coral; 
     width: 30px; 
     height:30px;
     border-radius: 50%;
  }
  .disableArow{
    background-color: grey;
  }
  .Active{
    background-color:  rgb(240, 228, 230)
  }

  .searchbox{


  ::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}

::ng-deep .mat-form-field-flex{
  background-color: white !important;
}
  }

::ng-deep .mbutton:disabled{
  background-color: grey !important;
  cursor: not-allowed !important;
}