<!-- Buttons -->
<div class="d-flex justify-content-end" >
         <!-- Other Buttons -->
        <div  *ngIf="showBtn" class="mr-4 mt-1" >
          <button mat-raised-button [routerLink]="['/devices-group']"  class="mr-3" >Cancel</button>
          <button [disabled]="selected.length==0" class="mbutton" mat-raised-button style="background-color: coral; color:white;" (click)="showSelected()">Add to Group</button>
        </div>

        <!-- Search button -->
        <div class="searchbox">
    <!-- <mat-form-field style="float: right;" class="search" appearance="outline">
      <mat-label>Search by any parameter</mat-label>
       <label>
       <input  (keyup)="search($event)" matInput>
      </label>
       <mat-icon class="mr-3" color="primary" matSuffix>search</mat-icon>
   </mat-form-field>  -->
   <div class="position-relative">
    <input (keyup)="search($event)" type="text" #searchStr placeholder="Search by any parameter" class="p-1 pr-4 rounded" style="border: none; outline: none; height:42px">
    <mat-icon class="position-absolute text-secondary" style="width: auto; height: auto; top: 50%; right: 0; transform: translateY(-50%);">search</mat-icon>
</div>
  </div>
</div>
  
<!-- Displaying CardData -->
<div class="row  w-100" >
<div class="col-3 p-2" *ngFor="let item of currentlyShowing;
  let i=index">
<mat-card (click)="cardCheck(item);"  [ngClass]="{'Active': selected.indexOf(currentlyShowing[i].id)!=-1}"  >
  
  <mat-icon *ngIf="selected.indexOf(currentlyShowing[i].id)!=-1" style="float:right; color:green;">library_add_check</mat-icon>
    <mat-card-title class="title">{{item.Title}}</mat-card-title>
    <mat-card-content class="content">{{item.Content}}</mat-card-content>
    <mat-card-content class="content1">{{item.Footer}}</mat-card-content>

  </mat-card>
  </div>
</div>

 <!-- Forward and backward pagination buttons with Elements Shown -->
 
<div class="d-flex mr-3 justify-content-center align-items-center ">
  <div class="d-inline-flex  position-absolute text-secondary " style="margin-right: 75%;" >Viewing {{elementPagination}} of {{tempData.length}}</div>

    <div  class="m-4 buttonDiv"  [ngClass]="{'disableArow': disableBbttn}" >
        <mat-icon class="mt-2 ml-2" (click)="showBack()">arrow_back_ios</mat-icon>
    </div>
    <div class="m-4 buttonDiv" [ngClass]="{'disableArow': disableFbttn}">
        <mat-icon  class="mt-2 ml-2" (click)="showNext()">arrow_forward_ios</mat-icon>
    </div>   
</div>
  
    