<div class="position-relative"> 
    <h2>{{data.deviceType}}</h2>
    <mat-icon mat-dialog-close style="background-color: #A1A1A1; color: white !important; top: 0; right: 0;" class="rounded-circle position-absolute">clear</mat-icon>
    
    <div class="row pt-2 pb-2 border border-top-0 border-right-0 border-left-0">
        <div class="col-3">
            <h2 class="m-0 text-left">&nbsp;&nbsp;{{data.totalDevices}}</h2>
            <div class="text-left" style="font-size: small;">Total Devices</div>
        </div>  
        <div class="col-9">
            <div class="d-flex align-items-center flex-grow-1 overflow-hidden">
                <div style="height: 20px">
                    <mat-icon style="font-size: 10px; width: auto; height: auto;" [style.color]="data.chart.colors[0].backgroundColor[0]">fiber_manual_record</mat-icon>
                    <small>{{data.status.active}} Active</small>
                </div>

                <div style="height: 20px" class="d-flex justify-content-center align-items-center overflow-hidden">
                    <mat-icon style="font-size: 10px; width: auto; height: auto;" [style.color]="data.chart.colors[0].backgroundColor[1]">fiber_manual_record</mat-icon>
                    <small>{{data.status.inactive}} Inactive</small>
                </div>

                <div style="height: 20px" class="d-flex justify-content-center align-items-center overflow-hidden">
                    <mat-icon style="font-size: 10px; width: auto; height: auto;" [style.color]="data.chart.colors[0].backgroundColor[2]">fiber_manual_record</mat-icon>
                    <small>{{data.status.faulty}} Faulty</small>
                </div>
            </div>
            
            <div class="d-flex align-items-center">
                <div [style.width.%]="(data.status.active/data.totalDevices)*100">  
                    <div style="height: 10px;" [style.background-color]="data.chart.colors[0].backgroundColor[0]" class="w-100 rounded-left text-center"></div>
                </div>
        
                <div [style.width.%]="(data.status.inactive/data.totalDevices)*100">
                    <div style="height: 10px;" [style.background-color]="data.chart.colors[0].backgroundColor[1]" class="w-100 text-center"></div>
                </div>
        
                <div [style.width.%]="(data.status.faulty/data.totalDevices)*100">
                    <div style="height: 10px;" [style.background-color]="data.chart.colors[0].backgroundColor[2]" class="w-100 rounded-right text-center"></div>
                </div>
            </div>
            
        </div>
    </div>
    
    
    <div class="row p-2 border border-top-0 border-right-0 border-left-0">
        <h3 class="col-3 p-0 text-left" style="color: purple;">Actions</h3>
        <div class="col-9">
            <div class="row">
                <p class="col-4" *ngFor="let action of data.actions">{{action}}</p>
            </div>
        </div>
    </div>
    
    <div class="row p-2 border border-top-0 border-right-0 border-left-0">
        <h3 class="col-3 p-0 text-left" style="color: purple;">Attributes</h3>
        <div class="col-9">
            <div class="row">
                <p class="col-4 d-flex justify-content-start align-items-center" *ngFor="let attribute of data.attributes">
                    <mat-icon style="width: auto; height: auto; color: #858280;">accessibility</mat-icon>&nbsp;{{attribute.name}}
                </p>
            </div>
        </div>
    </div>
    
    <div class="mt-1">
        <h3 style="color: #D6375D;" class="d-inline-flex justify-content-center align-items-center">
            <mat-icon>warning</mat-icon>&nbsp; {{data.status.warning.totalDevices}} Devices in Warning State
        </h3>
        <div class="row">
            <div class="col-4 p-1" *ngFor="let device of currentlyShowingWarningDevices">
                <p class="border text-center rounded p-1" style="background-color: #E8DCEA; color: #A1A5F0">{{device}}</p>
            </div>        
        </div>
    </div>  
    <mat-paginator [length]="allWarningDevices.length" [pageSize]="6" (page)="paginationEvent($event)"></mat-paginator> 
</div>
