.side-nav-container {
    width: 100vw;
    height: 100vh;
    background-color: #522D5B;
    padding: 20px 20px 20px 0;
}

.side-nav {
    background-color: #522D5B;
}

.side-nav-heading {
    font-family: Cambria;
    color: #816788;
    padding: 10px;
}

.side-nav-item{
    width: 100%;
    display: flex;
    position: relative;
    color: #816788;
    padding: 0px 20px 0px 10px;
    height: 30px;
    font-size: 15px;
    line-height: 30px;
    font-family: Cambria;
    font-weight: bold;
    cursor: pointer;
    overflow: hidden;
}

::ng-deep .mat-list-item-content {
    padding: 0 !important;
}

.nav-item-icon {
    line-height: 30px;
}

.side-nav-item:focus{
    outline: none;
}

.nav-active-pointer {
    position: absolute;
    right: 0px;
    top: 0;
    border-top: 15px solid #522D5B;
    border-bottom: 15px solid #522D5B;
    border-left: 15px solid #522D5B;
    border-right: 15px solid #F1F2F6;
}

.side-nav-content {
    background-color: #F1F2F6;
    border-radius: 10px;
    padding: 10px;
    height: 99%;
    overflow: scroll;
}

.side-nav-logout-btn {
    padding: 10px;
    display: flex;
    height: 30px;
    font-size: 15px;
    color: white;
    line-height: 30px;
}

.logout_icon {
line-height: 30px;
color: red;
}





/* For tablets and mobiles */
@media (min-width: 2px) and (max-width: 768px) {
    .side-nav-container {
        padding: 20px;
    }
    .side-nav{
        width: 100%;
    }

    .side-nav-content {
        width: 100%;
    }

    .nav-active-pointer {
        display: none;
    }

    .active {
        color: white;
        border-bottom: 5px solid #ED756A;
        background-color: #512E5D;
    }
}

@media(min-width: 768px) and (max-width: 992px){
    .side-nav{
        width: 25%;
    }

    .side-nav-content{
        width: 75%;
    }
}


/* For small laptops */
@media (min-width: 992px) and (max-width: 1200px){
    .side-nav-container{
        position: relative;
    }
    .side-nav{
        width: 20%;
    }
    .side-nav-content{
        width: 80%;
    }
    .active {
        color: white;
        border-left: 5px solid #ED756A;
        background-color: #512E5D;
    }
    .side-nav-logout-btn {
        position: absolute;
        bottom: 50px;
    }
}

@media (min-width: 1200px) {
    .side-nav-container{
        position: relative;
    }
    .side-nav{
        width: 13%;
    }
    .side-nav-content{
        width: 87%;
    }
    .active {
        color: white;
        border-left: 5px solid #ED756A;
        background-color: #512E5D;
    }
    .side-nav-logout-btn {
        position: absolute;
        bottom: 50px;
    }

}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}


::-webkit-scrollbar-thumb{
    background: #3F51B5;
    border-radius: 3px;
}