<div id="hamburger_container">
    <mat-icon class="hamburger_icon" (click)="toggleSideNav()">menu</mat-icon>
</div>

<div class="side-nav-container d-flex">
    <div class="side-nav" #side_nav> 

        <mat-list>

            <div *ngIf="showHeading; else donotshowheading">
                <h2 class="side-nav-heading">{{heading | uppercase}}</h2>
            </div>
        
            <ng-template #donotshowheading>
                <h2 class="side-nav-heading"></h2>
            </ng-template>
    
            <div class="d-flex flex-column">
    
                <div *ngFor="let navItem of navItems; let i = index">
    
                    <div *ngIf="navItem.isGrouped; else notGrouped ">
                        <mat-expansion-panel #expansionPanel (opened)="closeAllExpansionPanelsExcept(i);">
                            <mat-expansion-panel-header class="side-nav-item">
                                <mat-icon class="nav-item-icon">{{navItem.icon}}</mat-icon>&nbsp;&nbsp;
                                <span>{{navItem.name}}</span>
                                <span class="nav-active-pointer"></span>
                            </mat-expansion-panel-header>
                            <div *ngFor="let child of navItem.children">
                                <div *ngIf="child.isVisible">
                                    <mat-list-item style="height: 40px !important; padding-left: 15px;">
                                        <p style="font-size: 13px" class="side-nav-item" [routerLink]="child.routerLink" routerLinkActive="grouped-nav-item-active" #rla="routerLinkActive">
                                            <mat-icon class="nav-item-icon">{{child.icon}}</mat-icon>&nbsp;&nbsp;
                                            <span>{{child.name}}</span>
                                        </p>
                                    </mat-list-item>   
                                </div>
                            </div>
                        </mat-expansion-panel>
                    </div>
    
                    <ng-template #notGrouped>
                        <div *ngIf="navItem.isVisible">
                            <mat-list-item style="height: 40px !important" (click)="toggleSideNav()">
                                <p class="side-nav-item" [routerLink]=navItem.routerLink routerLinkActive="active" #rla="routerLinkActive" (click)="closeAllExpansionPanels()">
                                    <mat-icon class="nav-item-icon">{{navItem.icon}}</mat-icon>&nbsp;&nbsp;
                                    <span>{{navItem.name}}</span>
                                    <span [class.nav-active-pointer]="rla.isActive"></span>
                                </p>
                            </mat-list-item>
                        </div>
                    </ng-template>
                    
                </div>            
            </div>
    
            <div *ngIf="showLogoutBtn">
                <p class="side-nav-logout-btn"><mat-icon class="logout_icon">power_settings_new</mat-icon>&nbsp;&nbsp;Logout</p>
            </div>
        </mat-list>
    </div>
    

    <div class="side-nav-content">
        <router-outlet></router-outlet>
    </div>
</div>
   
   