<div class="ml-3">
<h1 class="title">{{title| uppercase}}</h1>
<button mat-raised-button style="color:#fff; background-color:coral" [routerLink]="['add-device-group']" routerLinkActive="router-link-active" > Add Group</button>
</div>
<br> 
<app-data-table [config]="dataTableConfig"
                    [actions]="dataTableActions"
                    [data]="data"
                    (actionClick)="actionChange($event)"
                    (filterChange)="filterChange($event)"
                    (bulkActionClick)="actionChange($event)"
                     [columnNames]  = columnNames
                     [keys]="[ 'groupName', 'groupType', 'createdAt']"
    >
    </app-data-table>