<div class="body">
  <h1>OTA Updates</h1>
  <button class="btn btn-warning buttonColor mt-3" routerLink="/ota-updates/ota-new-update-form" type="button">Add New
    Update
  </button>
  <button class="btn btn-warning buttonColor mt-3 float-right" routerLink="/ota-updates/ota-timeline">View Timeline
    Page
  </button>
  <div *ngIf="cardData">
    <div class="mt-4" mat-line>Select OTA Device Type (To View Update History)</div>

    <mat-form-field appearance="outline" class="w-50 col-3 pl-0">
      <mat-select (selectionChange)="onSelect(selected)" [(value)]="selected" class=" mt-2">
        <mat-option [formGroup]="deviceSearch">
          <ngx-mat-select-search formControlName="deviceType" noEntriesFoundLabel="No Device Types Found"
                                 placeholderLabel="Search Device Type"></ngx-mat-select-search>
        </mat-option>
        <mat-option *ngFor="let item of deviceTypes|async" [value]="item">{{item}}</mat-option>
      </mat-select>
    </mat-form-field>

    <div *ngIf="selectedCards">
      <mat-tab-group class="mt-4">
        <mat-tab label="Recently Updated">
          <app-ota-cards [cardData]="selectedCards"></app-ota-cards>
        </mat-tab>
        <mat-tab label="Most Updates">
          <app-ota-cards [cardData]="selectedCards"></app-ota-cards>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
  <div [hidden]="cardData">
    <mat-spinner></mat-spinner>
  </div>
</div>
