<div class="body">
  <h1>OTA Updates</h1>
  <button type="button" class="btn btn-warning buttonColor mt-3" routerLink="/ota-updates/ota-new-update-form">Add New
    Update
  </button>
  <button class="btn btn-warning buttonColor mt-3 float-right" routerLink="/ota-updates/ota-timeline">View Timeline
    Page
  </button>
  <div *ngIf="cardData">
  <div mat-line class="mt-4">Select OTA Device Type (To View Update History)</div>

  <select class="form-control mt-2" (change)="onSelect($event.target.value)" >
    <option ></option>
    <option *ngFor="let item of deviceTypes">{{item}}</option>
  </select>

    <div *ngIf="selectedCards">
      <mat-tab-group class="mt-4">
        <mat-tab label="Recently Updated">
          <app-ota-cards [cardData]="selectedCards"></app-ota-cards>
        </mat-tab>
        <mat-tab label="Most Updates">
          <app-ota-cards [cardData]="selectedCards"></app-ota-cards>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
  <div [hidden]="cardData && otaSetting">
    <mat-spinner></mat-spinner>
  </div>
</div>
