::ng-deep .mat-vertical-stepper-content {
  visibility: visible !important;
  height: 100% !important;
}

.parameters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  li {
    font-size: 0.8rem;
    list-style: none;
  }
}

.submit-btn {
  color: white;
  background-color: green;
  padding: 5px 40px;
  text-align: center;
  box-shadow: none;

  &:disabled {
    cursor: not-allowed;
  }
}

.con-wrapper {
  padding-top: 24px;
  padding-right: 24px;
}

.con-box {
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  margin-right: 0;
  margin-left: -5px;

  dl {
    > dt {
      font-size: 0.9rem;
      font-weight: 500;
      color: #7b2e8d;
    }

    dd {
      color: #b7b5b7;
    }
  }
}

.dd-box {
  display: grid;
  grid-template-columns: auto auto;
}


::ng-deep .mat-button-toggle-label-content {
  line-height: 36px !important;
}

.btn-clr {
  background-color: #fb7b6b;

  &:disabled {
    background-color: lightgray;
  }
}

::ng-deep .mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
  background-color: #522d5b !important;
  //color: red !important;
}

.row {
  width: calc(100% - 10px);
}
.types {
  ::ng-deep .mat-button-toggle-checked {
    background-color: #B77AC5;
    color: white !important;
  }
}
::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.6em 0 !important;}
