<div class="pl-3 pr-3">
  <h1>RULES</h1>
  <nav class="mb-0">
    <ol class="breadcrumb pl-0" style="background-color: transparent;">
      <li class="breadcrumb-item"><a routerLink="/rules">Rules</a></li>
      <li class="breadcrumb-item active">Add Rule</li>
    </ol>
  </nav>
</div>
<div class="row">
  <div class="col ">
    <mat-vertical-stepper #stepper (selectionChange)="selectionChange($event)" linear style="background-color: inherit">

      <mat-step #ruleName [stepControl]="firstFormGroup" editable>
        <ng-template matStepperIcon="number">
          <mat-icon>create</mat-icon>
        </ng-template>
        <ng-template matStepLabel> Define the rule Name</ng-template>
        <form [formGroup]="firstFormGroup">
          <div class="row">
            <div class="col-4">
              <label class="d-block m-0">Rule Name</label>
              <mat-form-field appearance="outline" class="w-100">
                <input formControlName="name" matInput placeholder="Ex:Occupancy">
                <mat-error>Name Required</mat-error>
              </mat-form-field>
            </div>
            <div class="col-4">
              <label class="d-block m-0">Device Type</label>
              <mat-form-field appearance="outline" class=" w-100">
                <mat-select formControlName="type" placeholder="Device Type">
                  <mat-option *ngFor="let d of rulesService.getRuleDevices()" [value]="d.deviceType">
                    {{d.deviceType}}
                  </mat-option>
                  <mat-option value="Other Sensing">Other Sensing</mat-option>
                </mat-select>
                <mat-error>Feild Required</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div *ngIf="selectedIndex===0">
            <button [disabled]="!firstFormGroup.valid" class="mr-3 btn-clr" color="primary"
                    mat-raised-button matStepperNext>NEXT
            </button>
            <button mat-button routerLink="/rules"> Cancel</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <ng-template matStepLabel>Create Rule</ng-template>
        <div *ngIf="selectedIndex===1">
          <h4>Parameters</h4>
          <ul class="parameters">
            <li *ngFor="let param of parameters">
              <i aria-hidden="true" class="fa fa-check-circle-o" style="color: green"></i>
              {{param}}</li>
          </ul>
          <form [formGroup]="secondFormGroup" class="mt-4">
            <div>
              <h4>Actions</h4>
              <mat-button-toggle-group class="types" formControlName="action" required style="border: none;">
                <mat-button-toggle *ngFor="let action of actions" [value]="action"
                                   class="m-2 rounded">{{action}}</mat-button-toggle>
              </mat-button-toggle-group>
            </div>
            <label class="mt-4 d-block">Condition</label>
            <mat-form-field appearance="outline" class="w-100">
              <textarea formControlName="condition" matInput style="resize: none"></textarea>
              <mat-error>Condition Required</mat-error>
            </mat-form-field>
            <div class="d-flex justify-content-center position-relative align-items-center mt-2">
              <button class="position-absolute" mat-button routerLink="../" style="left: 0">Cancel</button>
              <button (click)="submit()" class="btn submit-btn" mat-button
                      type="button">Create Rule
              </button>
            </div>
            <div class="d-flex justify-content-around align-items-center mt-2">
              <mat-error *ngIf="notValid&&!secondFormGroup.valid">Fill the Complete form</mat-error>
            </div>
          </form>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </div>
  <div class="col-3 con-wrapper d-lg-block d-none con-box " style="background-color: #eeeaef;height: 362px">
    <h4>Condition Notes</h4>
    <dl>
      <dt>Simple Operators</dt>
      <div class="dd-box">
        <dd> + Addition</dd>
        <dd> - Subtraction</dd>
        <dd> - Subtraction</dd>
        <dd> - Subtraction</dd>
        <dd> - Subtraction</dd>
        <dd> - Subtraction</dd>
        <dd> - Subtraction</dd>
      </div>
      <dt>Binary Relational Operators</dt>
      <div class="dd-box">
        <dd>Equals to</dd>
        <dd>Equals to</dd>
        <dd>Equals to</dd>
      </div>
      <dt>Boolean Operators</dt>
      <div class="dd-box">
        <dd> && And</dd>
        <dd> && And</dd>
        <dd> && And</dd>
      </div>
    </dl>
  </div>
</div>
<!--<button mat-button (click)="log()">Log</button>-->
