<div class="d-flex row" style=" width: 100%; margin:0 auto; ">
  <div  class="d-flex flex-row flex-wrap w-100">
    <div *ngFor="let card of cardData|slice:a :b; let i=index;" class="main">
        <div class="col">
          <mat-card class="design1 main1">
            <div class="row topPadding">

              <div class="col-sm-12 col-md-10">
                <mat-card-title class='design1title'>
                  {{card.Title}}
                </mat-card-title>

                <div class="row">
                  <mat-icon class="pl-4 col-3" style="color:darkgoldenrod;">build</mat-icon>
                  <mat-card-content class="design1content ml-1">{{card.Content}}</mat-card-content>
                </div>
                <mat-card-footer class="design1footer ml-4">{{card.Footer}}</mat-card-footer>
              </div>
            </div>
          </mat-card>
        </div>
    </div>

    <div class="d-flex mr-3 justify-content-center align-items-center w-100 mt-0">
      <div  class="m-4 buttonDiv"  >
      <mat-icon class="mt-0 mr-2 icon"  [ngClass]="{'disabled': a==0}"  (click)="b = a-shift>=0? b-shift: b; a= a-shift>=0? (a-shift): a;"
        >keyboard_arrow_left</mat-icon>
    </div>
    <div  class="m-4 buttonDiv"   >
      <mat-icon class="mt-0 mr-2 icon" [ngClass]="{'disabled': b>=cardData.length}" (click)="a= b<cardData.length? a+shift: a;
      b= b<=cardData.length? b+shift: b;"
  >keyboard_arrow_right</mat-icon>
    </div>
    </div>

  </div>
</div>
