.design1 {
  .mat-card-actions, .mat-card-content, .mat-card-subtitle, .mat-card-title,.mat-card-footer {
    display: inline;
    margin: 0px;
  }
  padding-left: 20px;
  background-color: white;
  height: 100px;
  width: 210px;
  border-radius: 2%;
  .topPadding{
    padding-top: 10px;
    .design1title {
      color: #522d5b;
      font-weight: 400;
      padding-left: 41px;
      font-size: medium;
    }
    .design1content {
      font-size: small;
      padding-left: 4px;
      padding-top: 3px;
      font-weight: 10;
    }
    .design1footer {
      font-size: small;
      padding-left: 16px;
      font-weight: 10;
    }
  }
}
.buttonDiv{
  cursor: pointer;
  background-color:coral;
   width: 30px;
   height:30px;
   border-radius: 50%;
}
.disabled{
  background-color: grey;
  width: 30px;
  height:30px;
  border-radius: 50%;
}
.main {
  width: 25%;
  margin-top: 10px;
  /* margin: 0 auto; */
}
.main1 {
  margin: 0 auto;
  padding: 10px;
}
.icon {

  cursor: pointer;
  font-size: 30px;
  color:white;
}
.col {
  justify-content: space-between;
}
