<div class="container mat-elevation-z8">
  <!--  Top actions bar-->
  <div class="bar">
    <button color="primary" mat-raised-button>Add Devices</button>
    <span class="spacer"></span>
    <!--    Bulk Actions-->
    <div *ngIf="config.checkbox">
      <button *ngFor="let bulkAction of actions.bulkActions"
              (click)="bulkActionHandler('bulk-action',bulkAction.name)"
              [color]="bulkAction.color"
              mat-stroked-button>
        <mat-icon>{{bulkAction.icon}}</mat-icon>
        {{bulkAction.name | titlecase}}
      </button>
    </div>
    <!--    Search Box-->
    <mat-form-field *ngIf="config.searchBox" class="search">
      <mat-label>Search</mat-label>
      <label>
        <input (keyup)="filter($event)" matInput>
      </label>
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
  <table class="table" mat-table [dataSource]="dataSource" matSort>
    <!--    Columns-->
    <ng-container matColumnDef="checkbox">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox color="primary" (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID</th>
      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Type</th>
      <td mat-cell *matCellDef="let row"> {{row.type}}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name(User Defined)</th>
      <td mat-cell *matCellDef="let row"> {{row.name}} </td>
    </ng-container>

    <ng-container matColumnDef="createdDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="sort"> Created Date</th>
      <td mat-cell *matCellDef="let row">
        <ng-container *ngIf="assertType(row) as row">
          {{row.createdDate | date:'medium'}}
        </ng-container>
      </td>
    </ng-container>
    <!--device data-->
    <ng-container matColumnDef="options">
      <th mat-header-cell *matHeaderCellDef> View Device Data</th>
      <td mat-cell *matCellDef="let row">
        <div class="row">
          <button (click)="rowAction(row,'action',action.name);$event.stopPropagation()"
                  *ngFor="let action of actions.actions"
                  mat-icon-button>
            <mat-icon
              [color]="action.color">{{action.iconOpp ? (row.disable ? action.iconOpp : action.icon) : action.icon}}</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <tr class="pointer" (click)="this.selection.toggle(row)" mat-row
        *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data Available</td>
    </tr>
  </table>
  <mat-paginator color="primary" [showFirstLastButtons]="true" [pageSize]="config.pageSize"
                 [pageSizeOptions]="this.config.pageSizeOptions"></mat-paginator>
</div>
