.row {
  display: flex;
  justify-content: space-around;
  //padding: 15px;
}

mat-icon {
  cursor: pointer;
}

.table {
  width: 100%;
}

.table-container {
  margin: 1vh 1vw;
  overflow: auto;

  > * {
    min-width: 813px;
  }
}

.spacer {
  flex: 1 1 auto;
}

button {
  margin-right: 10px;
}

.search {
  margin: 0;

}

.bar {
  display: flex;
  box-sizing: border-box;
  padding: 0 16px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
}

.pointer {
  cursor: pointer;
}


/*Background and text color when a tab is active*/

i {
  border-radius: 100%;
  padding: 15px;
  justify-content: center;
}

.card {
  h6 {
    color: #65366f
  }

  .value {
    color: #979098
  }

  .date {
    color: #cfc9d2
  }

  border-left: 5px solid #dfd6b3;
  margin-left: 5px;
  margin: 8px;
  margin-top: 15px;
  height: 100px;
  width: 185px;
  padding: 8px;
  background-color: #f1ecf3;
}

table td {
  vertical-align: inherit;
  border-top: inherit;
}

