<div class="pl-3 pr-3 pt-4 pb-3 ">
  <div class="d-flex ">
    <h1 class="display-2">Add new dashboard</h1>
    <span class="flex-fill"></span>
    <i mat-dialog-close class="fa fa-2x fa-times-circle" style="color: darkgrey"></i>
  </div>
  <div class="row mt-2">
    <div class="col-5">
      <img class="w-100" src="http://lorempixel.com/300/300/animals/8/" alt="">
    </div>
    <div class="col-7">
      <label class="d-block" for="dashboardName">Dashboard Name</label>
      <mat-form-field  appearance="outline">
        <input  #name id="dashboardName" matInput type="text">
      </mat-form-field>
      <button [mat-dialog-close]="name.value" class="d-block" mat-raised-button style="color: white;background-color: #79A831;">Create Dashboard</button>
    </div>
  </div>
</div>
