<div class="pl-3 w-100 ">
  <h1>GENERATE KEYS</h1>
  <h2>Generate new Keys</h2>
  <div class="row w-100">
    <div class="col-7">
      <form [formGroup]="form">
        <div class="row">
          <div class="col-6">
            <label class="d-block">Device Type</label>
            <mat-form-field appearance="outline" class="w-100">
              <mat-select (valueChange)="deviceSelected()" formControlName="deviceType">
                <mat-option [formGroup]="deviceSearch">
                  <ngx-mat-select-search formControlName="search" noEntriesFoundLabel="No Device Types Found"
                                         placeholderLabel="Search Device Type"></ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let device of filteredDeviceTypes" [value]="device">{{device}}</mat-option>
              </mat-select>
              <mat-error>Field Required</mat-error>
            </mat-form-field>
          </div>
          <div class="col-6">
            <label class="d-block">Number of Keys</label>
            <mat-form-field appearance="outline" class="w-100">
              <input formControlName="numberOfKeys" matInput type="text">
              <mat-error>{{form.value.numberOfKeys ? 'Only Number ranging from 1-1000 are valid' : 'Field is Required'}}</mat-error>
            </mat-form-field>
          </div>
        </div>
      </form>
      <div class="d-flex justify-content-center m-3">
        <button (click)="generateKeys()" mat-raised-button style="background-color: #79A831;color: white">Generate
          Keys
        </button>
      </div>
      <div *ngIf="usedKeys as used">
        <div class="d-flex justify-content-between">
          <h2 class="d-inline-flex">Generated keys ({{form.value.deviceType}})</h2>
          <button mat-button style="height: 35px;margin-bottom: 16px;">
            <mat-icon>publish</mat-icon>
            Export Keys
          </button>
        </div>
        <div class="row">
          <div *ngFor="let key of used" class="col-6">
            <div (click)="copyToClipboard(key)" class="keys p-2 m-1">
              {{key}}
            </div>
          </div>
        </div>
        <div class="d-flex mt-2 justify-content-center">
          <button (click)="usedPageChange(usedPage-1)" *ngIf="usedPage*10>0" class="m-1" mat-button>
            <mat-icon>keyboard_arrow_left</mat-icon>
            Prev
          </button>
          <button (click)="usedPageChange(usedPage+1)" *ngIf="usedPage*10<usedKeysCount" class="m-1" mat-button>
            Next
            <mat-icon>keyboard_arrow_right</mat-icon>
          </button>
        </div>
      </div>
      <div *ngIf="unusedKeys as unused">
        <div class="d-flex justify-content-between">
          <h2 class="d-inline-flex">Unused keys ({{form.value.deviceType}})</h2>
          <button mat-button style="height: 35px;margin-bottom: 16px;">
            <mat-icon>publish</mat-icon>
            Export Keys
          </button>
        </div>
        <div class="row">
          <div *ngFor="let key of unused" class="col-6">
            <div (click)="copyToClipboard(key)" class="keys p-2 m-1">
              {{key}}
            </div>
          </div>
        </div>
        <div class="d-flex  justify-content-center">
          <button (click)="unusedPageChange(unusedPage-1)" *ngIf="unusedPage*10>0" class="m-1"
                  mat-button>
            <mat-icon>keyboard_arrow_left</mat-icon>
            Prev
          </button>
          <button (click)="unusedPageChange(unusedPage+1)" *ngIf="(unusedPage+1)*10<unUsedKeysCount"
                  class="m-1"
                  mat-button>
            Next
            <mat-icon>keyboard_arrow_right</mat-icon>
          </button>
        </div>
      </div>
    </div>


    <!--    Side Card-->
    <div class="col-5">
      <app-generate-keys-card></app-generate-keys-card>
    </div>

  </div>
</div>
