<h1 class="title ml-3">DEVICES GROUP</h1>

<div class="row ml-3"><a  [routerLink]="['/devices-group']" routerLinkActive="router-link-active" >Devices Group</a>
  <mat-icon class="mt-1 ml-1"style="font-size: small; color:darkgrey">arrow_forward_ios</mat-icon >
    <a class="disabled">Add Group</a>
   </div> <br>

   <!-- Form -->
   
<form [formGroup]="DeviceGroupForm"  >
  <!-- {{DeviceGroupForm.value | json}} -->

    <div class="row">
    <div class="col ml-3 form-group col-md-4">
      <label >Group Name</label>
      <input type="text" id="GroupName" formControlName="GroupName" [class.is-invalid]="DeviceGroupForm.get('GroupName').errors && (DeviceGroupForm.get('GroupName').touched || DeviceGroupForm.get('GroupName').dirty) " class="form-control" >
       <small class="text-danger" *ngIf="DeviceGroupForm.get('GroupName').errors && (DeviceGroupForm.get('GroupName').touched || DeviceGroupForm.get('GroupName').dirty)">Name is required</small>
    </div>

   
    <div class="col ml-md-5 col-md-4" >
        <label >Group Type</label><br>
        <mat-button-toggle-group id="GroupType" formControlName="GroupType"   value="homogeneous" style="border : none;" (change)="toggleCalled()">
          <mat-button-toggle value="homogeneous">Homogeneous</mat-button-toggle>
          <mat-button-toggle class="ml-5" value="hetrogeneous">Hetrogeneous</mat-button-toggle>
        </mat-button-toggle-group>
        
        <br>
        </div>
    </div>

    <!-- Single Select Dropdown -->
    <div class="form-group col-md-4"  *ngIf="DeviceGroupForm.value.GroupType=='homogeneous'">
        <label >Device Type</label>
        <select id="inputState" id="DeviceType" formControlName="DeviceType" class="form-control" placeholder="hello" [class.invalid]="DeviceGroupForm.get('DeviceType').errors && (DeviceGroupForm.get('DeviceType').touched || DeviceGroupForm.get('DeviceType').dirty) " >
          <option selected></option>
          <option *ngFor="let item of DeviceType" [ngValue]="item">{{item.item_text}}</option>
        </select>
        <small class="text-danger" *ngIf="DeviceGroupForm.get('DeviceType').errors && (DeviceGroupForm.get('DeviceType').touched || DeviceGroupForm.get('DeviceType').dirty)">Select Device Type</small>
      </div>


 <!-- Multiselect Dropdown -->
  <div class="form-group  ml-3" *ngIf="DeviceGroupForm.value.GroupType=='hetrogeneous'" >
    <label >Device Type</label>
      <ng-multiselect-dropdown
      [placeholder]="''"
      [settings]="dropdownSettings"
      [data]="dropdownList"
      (onSelect)="onItemSelect($event)"
      (onSelectAll)="onSelectAll($event)"
      name="selectedItems"
       formControlName="DeviceType"
      required
    >
    </ng-multiselect-dropdown>
    <small class="text-danger" *ngIf="(DeviceGroupForm.value.DeviceType.length < 2) && (DeviceGroupForm.get('DeviceType').touched || DeviceGroupForm.get('DeviceType').dirty) ">Select more than 1 Device Type</small>
  </div> 



    </form>
   
  <!-- Existing Devices -->

    <div class="ml-3" *ngIf="DeviceGroupForm.valid" > 
      <div style="position: relative;" >
      <h1 style="color: darkgray; float: left; ">Existing Devices</h1>
    </div>
      <app-card  [tempData]="tempData" (sendData)="DatafromCard($event)"></app-card>

    </div> 
  
