<div class="row justify-content-center mt-4 mr-0 w-100">
  <mat-form-field appearance="fill">
    <mat-label>Select Device type</mat-label>
    <mat-select (valueChange)="typeChanged()" [(ngModel)]="selectedType">
      <mat-option [value]="device" *ngFor="let device of deviceTypes">{{device}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="d-flex justify-content-end">
  <mat-form-field appearance="outline">
    <mat-label>Filter OTA</mat-label>
    <input (keyup)="filterRes(search.value)" #search type="text" matInput>
  </mat-form-field>
</div>
<div *ngIf="!dataViewConfig" class="row justify-content-center align-items-center mb-auto">
  <mat-spinner></mat-spinner>
</div>
<app-timeline>
  <app-timeline-item *ngFor="let item of selectedUpdates">
    <mat-card style="padding: 10px">
      <div class="d-flex ">
        <div class="w-75 pr-3">
          <h4 class="mb-1">
            {{item.otaName}}
          </h4>
          <h5 class="m-0">
            V{{item.otaVersion}}
          </h5>
          <p class="overflow-hidden m-0">
            {{item.otaDescription | slice:0:100}}...
          </p>
        </div>
        <div class="w-25  d-flex flex-column align-items-center justify-content-center border-left">
          <h3 class="mb-2" style="font-size: 1rem">
            {{item.createdAt | date:'MMM'}}
          </h3>
          <h1 class="mb-2" style="font-size: 1.5rem;font-weight: 500">
            {{item.createdAt | date:'dd'}}
          </h1>
          <h3 class="m-0" style="font-size: 1rem">
            {{item.createdAt | date:'yyyy'}}
          </h3>
        </div>
      </div>
    </mat-card>
  </app-timeline-item>
</app-timeline>
