<div class="row justify-content-start mt-4 mr-0 w-100">
  
</div>

<app-timeline>
  <app-timeline-item *ngFor="let item of selectedUpdates">
    <mat-card style="padding: 10px">
      <div class="d-flex ">
        <div class="w-75 pr-3">
          <h4 class="mb-1">
            {{item.otaName}}
          </h4>
          <h5 class="m-0">
            V{{item.otaVersion}}
          </h5>
          <p class="overflow-hidden m-0">
            {{item.otaDescription | slice:0:100}}...
          </p>
        </div>
        <div class="w-25  d-flex flex-column align-items-center justify-content-center border-left">
          <h3 class="mb-2" style="font-size: 1rem">
            {{item.createdAt | date:'MMM'}}
          </h3>
          <h1 class="mb-2" style="font-size: 1.5rem;font-weight: 500">
            {{item.createdAt | date:'dd'}}
          </h1>
          <h3 class="m-0" style="font-size: 1rem">
            {{item.createdAt | date:'yyyy'}}
          </h3>
        </div>
      </div>
    </mat-card>
  </app-timeline-item>
</app-timeline>
