<div class="row" id="cards-container">
    <div *ngFor="let card of cards" class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-2 pr-4" style="background-color: transparent;">
        <device-type-card [cardData]="card"></device-type-card>
    </div>
</div>

<!-- Pagination -->
<nav class="d-flex justify-content-center p-0 position-relative">
    <ul class="pagination">
      <li class="page-item cursor mr-1" *ngFor="let page of paginationArray; let i = index" (click)="getCardsOfPageNumber(i)">
          <a class="page-link" [ngClass]="{'page-active':currentPage===i}">{{i+1}}</a>
      </li>
    </ul>

    <small class="d-inline-flex justify-content-center position-absolute text-secondary" style="top: 50%; left: 0; transform: translateY(-50%);">
        Viewing {{currentPage*perPageCards+1}} - {{math.min((currentPage*perPageCards)+perPageCards, cardsCount)}} of {{cardsCount}}
    </small>
  </nav>

  