<div class="row" id="cards-container">
    <div *ngFor="let card of cards" class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-2 pr-4" style="background-color: transparent;">
        <device-type-card [cardData]="card"></device-type-card>
    </div>
</div>

<!-- Pagination -->
<nav aria-label="..." class="d-flex justify-content-center">
    <ul class="pagination">
      <li class="page-item cursor m-1" *ngFor="let page of paginationArray; let i = index" (click)="getCardsOfPageNumber(i)">
          <a class="page-link" #paginationlink>{{i+1}}</a>
      </li>
    </ul>
  </nav>