<div class="d-flex flex-wrap justify-content-between" id="cards-container">
    <div *ngFor="let card of cards" class="card">
        <device-type-card [cardData]="card"></device-type-card>
    </div>
</div>

<!-- Pagination -->
<nav aria-label="..." class="d-flex justify-content-center">
    <ul class="pagination">
      <li class="page-item cursor m-1" *ngFor="let page of paginationArray; let i = index" (click)="getCardsOfPageNumber(i)">
          <a class="page-link" #paginationlink>{{i+1}}</a>
      </li>
    </ul>
  </nav>