@import '../../../../../node_modules/include-media/dist/include-media';

#cards-container{
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
}

.cursor{
    cursor: pointer;
}

.page-active {
    background-color: #79A831 !important;
    color: white !important;
}
