.bar {
  display: flex;
  box-sizing: border-box;
  //padding: 0 16px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
}

.rule-list {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.rule-card {
  width: 300px;
  margin: 5px;
}

::ng-deep .mat-card-header-text {
  /* CSS styles go here */
  margin: 0; // for example to remove the margin
}

hr {
  margin-top: 5px;
  margin-bottom: 5px;
  //border-top: 0.5px solid white;
  /* z-index: 3; */
  /* background-color: black; */
  width: 100%;
}

.page-button {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  margin: 5px;
  background-color: #fff;
  border: 1px solid #dee2e6;
  transition: all 3ms ease;

  &:hover {
    background-color: #e9ecef;
    border-color: #dee2e6;
  }

}

.active-page {
  background-color: #79A831 !important;
  color: white;
  transition: all 0.5s ease;

  &:hover {
    background-color: #218838;
  }
}

.pointer {
  cursor: pointer;
}
